@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Bold.woff2') format('woff2'),
         url('fonts/JetBrainsMono-Bold.woff') format('woff');
    font-weight: 700; 
    font-style: normal;
}

body {
    background-color: #212121;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center; /* center horizontal */
    justify-content: center; /* center vertical */
    height: 100vh;
    text-align: left;
    width: 80%;
    margin: auto;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'JetBrains Mono', monospace;  /* Use JetBrains Mono font */
    color: white;  /* Set text color to white */
    text-decoration: none;  /* Remove underline */
    font-size: 18px;  /* Adjust size as needed */
    background: none;  /* No background */
    border: none;  /* No border */
    padding: 8px 12px;
    border-radius: 4px;
    transition: color 0.3s ease;  /* Smooth color change on hover */
}

.emoji {
    font-size: 0.85em; /* Adjust this value to change the size */
}

.content {
    color: antiquewhite;
    font-size: 15.5px;
}

h1, h2, a {
    margin: 10px 0;
}

a {
    text-decoration: none;
}

.mail-icon:hover {
    cursor: pointer;
}

.mail-icon {
    color: antiquewhite;
    font-size: 20px;
}

.projects {
    color: #758467;
}

.projects.visited {
    color: #758467;
}

.email {
    text-decoration: none;
    color: antiquewhite;
    font-size: 11px;
}

.email:visited {
    color:antiquewhite;
}

.server {
    color:#FF6F61;
}

.server:visited {
    color: #FF6F61;
}

.readme {
    color: #9CAF88;
}

.readme:visited {
    color: #9CAF88;
}

.resources {
    color: #CBD5C0;
}

.resources:visited {
    color: #CBD5C0;
}

.azure {
    color: #F8B400;
}

.azure:visited {
    color: #F8B400;
}

.seam {
    color: #A8D5BA;
}

.seam:visited {
    color: #A8D5BA;
}

.maze {
    color: #A9C5EB;
}

.maze:visited {
    color: #A9C5EB;
}

.vpn {
    color: #B19CD9;
}

.vpn:visited {
    color: #B19CD9;
}

.route {
    color: #FFF5BA;
}

.route:visited {
    color: #FFF5BA;
}

.allocator {
    color: #FF8C42;
}

.allocator:visited {
    color: #FF8C42;
}

.linkedin {
    color: #0077B5; 
}

.github {
    color: #c9510c; 
}

.linkedin:visited {
    color: #0077B5;
}

.github:visited {
    color: #c9510c; 
}

.email-container {
    position: relative; 
}

.message-bubble {
    position: absolute;
    top: 50%; 
    left: 95%; 
    transform: translateY(-50%); 
    background-color: rgba(255, 255, 255, 0.12);
    color: antiquewhite;
    padding: 8px 12px; 
    border-radius: 5px;
    display: none; /* Initially hidden */
    font-size: 14px; 
    margin-left: 0px; 
}
