/* Styling the page */
body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    margin: 0;
}

.content {
    text-align: left;
    width: 80%;
}


h1, h2, a {
    margin: 10px 0;
}

a {
    color: #8793CC; /* Link color */
    text-decoration: underline;
}

a:focus {
    color: #F9C2CA;
}

a:visited {
    color: #8793CC;
}

.blog-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #1e1e1e;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.blog-button:hover {
    background-color: #cccccc;
}
